.article__label {
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
  min-width: 88px;
  min-height: 40px;
  font-family: Roboto, Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0px;
  z-index: 1;
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .article__label {
    top: 8px;
    left: 8px;
  }
}

@media screen and (max-width: 759px) {
  .article__label {
    top: 16px;
    left: 16px;
  }
}
