.article__icon {
  position: absolute;
  /* background-image: url("../../../images/icon.svg"); */
  z-index: 2;
  right: 24px;
  top: 24px;
  background-color: #fff;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.article__icon:hover {
  cursor: pointer;
  /* background-image: url("../../../images/icon_hover.svg"); */
}

@media screen and (min-width: 760px) and (max-width: 1023px) {
  .article__icon {
    right: 8px;
    top: 8px;
  }
}

@media screen and (max-width: 759px) {
  .article__icon {
    right: 16px;
    top: 16px;
  }
}
