.author__title{
  font-family: Roboto Slab, Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin-top: 51px;
  margin-bottom: 0px;
}
