.author__avatar {
  /* width: 100%; */
  /* height: 100%; */
  /* padding: 0 8px; */
  /* max-width: 300px; */
  /* margin: 0; */
  /* padding: 0 8px 24px; */
  /* box-sizing: border-box; */
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .author__avatar {
    max-width: 232px;
    /* padding: 0 32px 0 0; */
    box-sizing: content-box;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .author__avatar {
    max-width: 348px;
    /* padding: 0 56px 0 0; */
  }
}

@media screen and (min-width: 1440px) {
  .author__avatar {
    max-width: 464px;
  }
}
