@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__text/popup__text.css);
@import url(./__colored-text/popup__colored-text.css);
@import url(./__link/popup__link.css);
@import url(./__text/_left/popup__text_left.css);



.popup {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    display: none;
}

@media screen and (min-width: 534px) {
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
  }
}